{
  "openapi": "3.0.1",
  "info": {
    "title": "After Download API",
    "version": "v0",
    "description": "API documentation for post-download operations"
  },
  "servers": [
    {
      "url": "https://api.dirolabs.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "${environment.varificationSwaggerLink}/extractTransaction": {
      "post": {
        "tags": ["After Download"],
        "summary": "To generate JSON for transaction data (coming soon).",
        "description": "<h2>Get Transactions for verified PDF</h2>\n<p>Description / process </p>\n<ol className=\"list-group list-group-numbered\">\n<li> API sends a success response to http request without JSON {\"status\":\"Success!\"}. </li>\n<li>API sends a callback of the final transaction in the 24 Hr window. Callback will contain following key \"type\" : \"final-transaction\". </li><li> docid is session id.</li>\n<li>callback are accessible in developers > logs.</li>\n</ol>\n",
        "operationId": "extractTransaction",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExtractTransactionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Default response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/DefaultResponse" },
                    { "$ref": "#/components/schemas/TransactionResponse" },
                    { "$ref": "#/components/schemas/TransactionInvalidURLResponse" },
                    { "$ref": "#/components/schemas/TransactionIncompleteSessionResponse" },
                    { "$ref": "#/components/schemas/TransactionDeletedSessionResponse" },
                    { "$ref": "#/components/schemas/TransactionBadDocumentResponse" }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request missing one or more required fields",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/BadRequest1" },
                    { "$ref": "#/components/schemas/BadRequest2" }
                  ]
                },
                "examples": {
                  "BadRequest1": {
                    "value": {
                      "message": "validation failed",
                      "details": {
                        "docid": "Doc id can't be null or empty!"
                      }
                    }
                  },
                  "BadRequest2": {
                    "value": {
                      "message": "Document does not exist"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionInvalidToken"
                }
              }
            }
          }
        },
        "callbacks": {
          "Success": {
            "callback url setup for client": {
              "post": {
                "operationId": "callback2",
                "description": "Request input for json success",
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/TransactionExtractCallbackResponse"
                      }
                    }
                  }
                },
                "responses": {}
              }
            }
          },
          "Failure": {
            "callback url setup for client": {
              "post": {
                "description": "",
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/TransactionExtractFailure"
                      }
                    }
                  },
                  "required": true
                },
                "responses": {}
              }
            }
          }
        }
      }
    },
    "${environment.varificationSwaggerLink}/pdf-to-json": {
      "post": {
        "tags": ["After Download"],
        "parameters": [
          {
            "in": "",
            "name": "Note",
            "description": "1.API sends a success response to http request without JSON <br>{\"msg\":\"Success!\"}.<br> 2.API sends a callback nearly instantaneously with Interim JSON. Callback will contain following key<br> \"type\":\"interim-pdftojson\"  and stage 'final'( in multidownload not supported) .<br>3.API sends a callback of final JSON in 24 Hr window. Callback will contain following key. <br>\"type\":\"json-success\" and stage 'final'.<br>4.Docid is equal to sessionid.<br></br>In some cases, system will send stage final JSON instantaneously without sending stage interim."
          }
        ],
        "summary": "To generate JSON for an uploaded PDF.",
        "description": "<h2>Get JSON for verified PDF</h2>\n<p>Description / process </p>\n<ol className=\"list-group list-group-numbered\">\n<li>API sends a success response to http request without JSON {\"msg\":\"Success!\"}. </li>\n<li>API sends a callback nearly instantaneously with Interim JSON. Callback will contain the following key \"type\" : \"interim-pdftojson\" ( in multidownload not supported). </li>\n<li>API sends a callback of the final JSON in the 24 Hr window. Callback will contain following  key \"type\" : \"final-pdftojson\". </li>\n<li>pdfdata object in callback contains the warncases/fields JSON. </li>\n<li>docid is session id. </li>\n<li>callback are accessible in developers > logs.</li>\n</ol>\n",
        "operationId": "pdfToJson",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestPdfToJson"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Default response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/DefaultJsonResponse" },
                    { "$ref": "#/components/schemas/CombineJsonResponse" },
                    { "$ref": "#/components/schemas/SingleDocumentResponse" },
                    { "$ref": "#/components/schemas/IncompleteSessionJsonResponse" },
                    { "$ref": "#/components/schemas/DeletedSessionJsonResponse" },
                    { "$ref": "#/components/schemas/BadDocumentJsonResponse" }
                  ]
                }
              }
            }
          },
          "200 response": {
            "description": "Responses",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/SuccessResponsePdftojson" },
                    { "$ref": "#/components/schemas/BadDocument" },
                    { "$ref": "#/components/schemas/DocidAbandon" }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/ResponseForBadRequest1" },
                    { "$ref": "#/components/schemas/ResponseForSessionIdDelete" },
                    { "$ref": "#/components/schemas/ApiKeyNullOrEmptyPdftojson" },
                    { "$ref": "#/components/schemas/ApiKeyWrongResponse" },
                    { "$ref": "#/components/schemas/docIdNullOrEmpty" },
                    { "$ref": "#/components/schemas/JSONRequestWrong" }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidToken"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "callbacks": {
          "JSON success": {
            "callback url setup for client": {
              "post": {
                "operationId": "callback2",
                "description": "Request input for JSON success",
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/callbackresponse"
                      }
                    }
                  }
                },
                "responses": {}
              }
            }
          },
          "JSON failure": {
            "callback url setup for client": {
              "post": {
                "description": "Request input for JSON failure",
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/RequestInvalidPdfToJson"
                      }
                    }
                  },
                  "required": true
                },
                "responses": {}
              }
            }
          },
          "Combine JSON": {
            "callback url setup for client": {
              "post": {
                "operationId": "callback3",
                "description": "Request input for Combine JSON",
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/CombineJson"
                      }
                    }
                  },
                  "required": true
                },
                "responses": {}
              }
            }
          }
        }
      }
    },
    "${environment.varificationSwaggerLinkBeta}/download-native-originals": {
      "post": {
        "tags": ["After Download"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "To download the original PDF or MHTML file.",
        "description": "<h2>Download captured content (MHTML)</h2>\n <p>To download all MHTML pages linked to the original PDF.</p>",
        "operationId": "orginaldocuments",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DownloadMhtmlRequest"
              }
            }
          },
          "description": "Request for downloading original document.",
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DownloadMhtmlResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionIdDeleted"
                }
              }
            }
          },
          "400 response": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShareOnlyJsonTrue"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidToken"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "Api key is empty",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyEmpty"
                }
              }
            }
          },
          "404 Invalid": {
            "description": "Docid is wrong",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentNotExist"
                }
              }
            }
          },
          "404 response": {
            "description": "Case of abandon sessionid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AbandonCaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "${environment.varificationSwaggerLinkBeta}/download-original-pdf-cert": {
      "post": {
        "tags": ["After Download"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "To download DIRO certificate.",
        "description": "<h2>Download certified PDF</h2>\n<p>To download certified original documents with DIRO certificate.\n",
        "operationId": "download document",
        "parameters": [
          {
            "in": "",
            "name": "Note",
            "description": "<ol><li>Docid is equal to sessionid.</li> <li>This API can be used to download the original certificate PDF for a specific docid. For a non-multi-download session, the API returns a base64 string within a JSON object that can be convert to access the original certificate pdf.</li>  <li>For multi download sessions, the API can be called using either the meta session docid or the sub-session docid.<ul><li>Calling the API with the meta session docid allows the download of all related original PDFs for the meta session. The API returns a base64 string within a JSON object that can be decoded to a zip file. The zip file can be unzipped to access a folder containing all original PDFs. </li></ul></li></ul><ul><li>Calling the API with the sub-session docid allows the download of the original PDF for that specific sub-session only. The API returns a base64 string within a JSON object that can be convert to access the original certificate PDF.</li></ul></li></ul></p>\n</li></ol> "
          },
          {
            "in": "",
            "name": "Base64 → PDF",
            "description": "<h5 id=\"heading_swag_code\">Convert an encoded Base64  file to a PDF.</h5> <pre id=\"container_pre\"> <code id=\"code_desc\"><p id=\"comment_swag_code\"> // Node.js </br></br> # Base64 encoded string</p>  const base64String = req.base64; </br></br><p id=\"comment_swag_code\"># Step 1: Decode the Base64 string</p>  const pdfBuffer = Buffer.from(base64String, 'base64'); </br></br><p id=\"comment_swag_code\"># Step 2: Save the decoded data as a PDF file</p>  const outputPath = path.join(__dirname, 'extracted_file.pdf');</br>  fs.writeFileSync(outputPath, pdfBuffer);</br>"
          },
          {
            "in": "",
            "name": " Base64(zip) → PDF",
            "description": "<h5 id=\"heading_swag_code\">Convert an encoded Base64 ZIP file to a PDF.</h5> <pre id=\"container_pre\"> <code id=\"code_desc\"><p id=\"comment_swag_code\">// Node.js </br></br># Base64 encoded string</p>  const base64String = req.base64; </br></br><p id=\"comment_swag_code\"># Step 1: Decode the Base64 string</p>  const zipBuffer = Buffer.from(base64String, 'base64'); </br></br><p id=\"comment_swag_code\"># Step 2: Save the decoded ZIP file to disk (optional)</p>  const zipFilePath = path.join(__dirname, 'file.zip');</br>  fs.writeFileSync(zipFilePath, zipBuffer);</br></br><p id=\"comment_swag_code\"># Step 3: Unzip the decoded ZIP file</p>  const zip = new AdmZip(zipBuffer);</br>  const extractPath = path.join(__dirname, 'extracted_files');</br>  zip.extractAllTo(extractPath, true);"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DownloadDocumentRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/DownloadDocumentRequest"
              }
            }
          },
          "description": "Request for downloading document.",
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DownloadDocumentResponse"
                }
              }
            }
          },
          "200 response": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DownloadDocumentMultidownloadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionIdDeleted"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidToken"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "Api key is wrong or empty",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidResponse1"
                }
              }
            }
          },
          "404 response": {
            "description": "Case of abandon sessionid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AbandonCaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "${environment.varificationSwaggerLinkBeta}/session-info": {
      "post": {
        "tags": ["After Download"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "To get session info.",
        "description": "<h2>Get session information (in JSON) </h2>\n<p>To get metadata about an original document and the user session information. It includes source URL, user device info and network fingerprints and all other meta-information in the PDF, in JSON format.</p>\n<p>Just pass session id in your request to get session information JSON</p>\n<h3>How to get session id?</h3>\n<p>After the user session is over, DIRO API sends a callback at your callback url , please find below a sample response </p>\n<ul>\n<li>Session ID</li>\n<li>Status</li>\n<li>Date & time of status</li>\n<li>Custom tracker</li>\n<li>File name</li>\n</ul>\n<pre className=\"json-pre\">\n{\n  \"date\": \"1644301889696\",\n    \"request\": {\n     \"urlStatus\": {\n        \"urlMatch\": false,\n        \"country\": \"Not Found\",\n        \"message\": \"The link will be sent for review by human in the loop, a Callback will be sent  in 24hrs\",\n        \"category\": \"address\",\n        \"sslVerified\": true,\n        \"status\": \"pending\"\n    },\n    \"firstname\": \"Jhon\",\n    \"docid\": \"XX-XXXXX\",\n    \"mobile\": \"1234567890\",\n    \"message\": \"document uploaded\",\n    \"mcc\": \"+000\",\n    \"type\": \"uploadsuccess\",\n    \"url\": \"https://diro.io/secure/#/client/MQBnAG15c3Fs/bank/XX-XXXXXX/XX-XXXXXX\",\n    \"filename\": \"XX-Uco25R1644300678702.pdf\",\n    \"kycstatus\": \"pending\",\n    \"filestatus\": \"pending\",\n    \"buttonid\": \"3a3ebab1-9914-bbd3-e6fe-c1f9e83d8a0b\",\n    \"category\": \"address\",\n    \"status\": true\n  }\n  \"message\": \"<!DOCTYPE html>\\n\\t<!-- \\n\\t\\tLicensed to the Apache Sof..-->\"\n  \"orgid\": \"O.71a859db-a10f-4b91-a762-3e2fa66959d3\",\n  \"status\": 200\n}\n\n</pre>\n",
        "operationId": "sessioninfo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SessionInfoRequest"
              }
            }
          },
          "description": "Request for getting session information.",
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionInfoResponse"
                }
              }
            }
          },
          "200 response": {
            "description": "Case of abandon sessionid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AbandonSessionId"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionBadResponse"
                }
              }
            }
          },
          "400 response": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionIdDeleted"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidToken"
                }
              }
            }
          },
          "404": {
            "description": "Api key is wrong",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidResponse1"
                }
              }
            }
          },
          "404 Invalid": {
            "description": "Api key is empty",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidResponse2"
                }
              }
            }
          },
          "404 response": {
            "description": "Docid is wrong or empty",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocIdWrongOrEmpty"
                }
              }
            }
          }
        }
      }
    }
  },
  
  "components": {
    "schemas": {
      "ExtractTransactionRequest": {
        "type": "object",
        "required": ["docid"],
        "properties": {
          "docid": {
            "type": "string",
            "example": "IN-123TXyT", 
            "description": "unique id for document submitted"
          },
          "apikey": {
            "type": "string",
            "example": "ls.get(\"apikey\")"
          }
        },
        "xml": {
          "name": "ExtractTransactionRequest"
        }
      },
      "DefaultResponse": {
        "type": "object",
        "description": "Default response when documents not processed",
        "properties": {
          "message": {
            "type": "string",
            "example": "Processing result, please wait it may take upto 24 hrs."
          },
          "status": {
            "type": "string",
            "example": "success!"
          }
        }
      },
      "TransactionResponse": {
        "type": "object",
        "description": "Response after documents processed.",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "accountId": {
                  "type": "string"
                },
                "currency": {
                  "type": "string"
                },
                "accountType": {
                  "type": "string"
                },
                "balance": {
                  "type": "object",
                  "properties": {
                    "openingBalance": {
                      "type": "string"
                    },
                    "closingBalance": {
                      "type": "string"
                    }
                  }
                },
                "reportingPeriod": {
                  "type": "object",
                  "properties": {
                    "startDate": {
                      "type": "string"
                    },
                    "endDate": {
                      "type": "string"
                    }
                  }
                },
                "transactions": {
                  "type": "array",
                  "items": {
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "string"
                          },
                          "bookingDate": {
                            "type": "string"
                          },
                          "transactionInformation": {
                            "type": "string"
                          },
                          "reference": {
                            "type": "string"
                          },
                          "creditDebitIndicator": {
                            "type": "string"
                          }
                        }
                      },
                      {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "string"
                          },
                          "bookingDate": {
                            "type": "string"
                          },
                          "transactionInformation": {
                            "type": "string"
                          },
                          "reference": {
                            "type": "string"
                          },
                          "creditDebitIndicator": {
                            "type": "string"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "message": {
            "type": "string",
            "example": "success!"
          }
        }
      },
      "TransactionInvalidURLResponse": {
        "type": "object",
        "description": "Invalid URL",
        "properties": {
          "message": {
            "type": "string",
            "example": "Invalid URL"
          },
          "status": {
            "type": "string",
            "example": "JSON not processed, URL not valid"
          }
        }
      },
      "TransactionIncompleteSessionResponse": {
        "type": "object",
        "description": "Incomplete session",
        "properties": {
          "message": {
            "type": "string",
            "example": "JSON not processed, as document not submitted or still in process"
          },
          "status": {
            "type": "string",
            "example": "Incomplete session"
          }
        }
      },
      "TransactionDeletedSessionResponse": {
        "type": "object",
        "description": "Deleted session",
        "properties": {
          "message": {
            "type": "string",
            "example": "JSON not processed, as session is deleted"
          },
          "status": {
            "type": "string",
            "example": "Deleted session"
          }
        }
      },
      "TransactionBadDocumentResponse": {
        "type": "object",
        "description": "Bad document",
        "properties": {
          "message": {
            "type": "string",
            "example": "Document marked as bad reason:Critical information missing"
          },
          "status": {
            "type": "string",
            "example": "Bad document"
          }
        }
      },

      "BadRequest1": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "validation failed"
          },
          "details": {
            "type": "object",
            "required": ["docid"],
            "properties": {
              "docid": {
                "type": "string",
                "example": "Doc id can't be null or empty!"
              }
            }
          }
        }
      },
      "BadRequest2": {
        "type": "object", 
        "properties": {
          "message": {
            "type": "string",
            "example": "Document does not exist."
          }
        }
      },
      "TransactionInvalidToken": {
        "type": "object",
        "properties": {
          "status": {
            "type": "number",
            "example": 401
          },
          "error": {
            "type": "string", 
            "example": "Unauthorized"
          },
          "message": {
            "type": "string",
            "example": "Jwt token is expired pls generate new token!"
          }
        },
        "xml": {
          "name": "TransactionInvalidToken"
        }
      },
      "TransactionExtractCallbackResponse": {
        "type": "object",
        "properties": {
          "docid": {
            "description": "unique id for document submitted",
            "type": "string",
            "example": "IN-6AN6Sc"
          },
          "sandbox": {
            "type": "boolean", 
            "example": false,
            "description": "is document requested from sandbox account ?"
          },
          "trackid": {
            "type": "string",
            "description": "trackid is the field name given in verification fields which is of type trackid it can be multiple."
          },
          "type": {
            "type": "string",
            "example": "final-transaction",
            "description": "type of callback sent from DIRO"
          },
          "url": {
            "type": "string",
            "example": "https://www.jio.com"
          },
          "transactionData": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "accountId": {
                  "type": "string"
                },
                "currency": {
                  "type": "string"
                },
                "accountType": {
                  "type": "string"
                },
                "balance": {
                  "type": "object",
                  "properties": {
                    "openingBalance": {
                      "type": "string"
                    },
                    "closingBalance": {
                      "type": "string"
                    }
                  }
                },
                "reportingPeriod": {
                  "type": "object",
                  "properties": {
                    "startDate": {
                      "type": "string"
                    },
                    "endDate": {
                      "type": "string"
                    }
                  }
                },
                "transactions": {
                  "type": "array",
                  "items": {
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "string"
                          },
                          "bookingDate": {
                            "type": "string"
                          },
                          "transactionInformation": {
                            "type": "string"
                          },
                          "reference": {
                            "type": "string"
                          },
                          "creditDebitIndicator": {
                            "type": "string"
                          }
                        }
                      },
                      {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "string"
                          },
                          "bookingDate": {
                            "type": "string"
                          },
                          "transactionInformation": {
                            "type": "string"
                          },
                          "reference": {
                            "type": "string"
                          },
                          "creditDebitIndicator": {
                            "type": "string"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "buttonid": {
            "type": "string",
            "example": "O.IN-oTrD8c-5AtD",
            "description": "button id/unique identifier of button used to generate verification link"
          },
          "category": {
            "type": "string",
            "example": "address",
            "description": "category of document, this can be bank/address/id/professional/other."
          },
          "sourcename": {
            "type": "string",
            "example": " jio"
          },
          "sourcecountry": {
            "type": "string",
            "example": " india"
          }
        },
        "xml": {
          "name": "TransactionExtractCallbackResponse"
        }
      },
      "TransactionExtractFailure": {
        "type": "object",
        "properties": {
          "trackid": {
            "description": "trackid is the field name given in verification fields which is of type trackid it can be multiple.",
            "type": "string"
          },
          "docid": {
            "description": "unique id for document submitted",
            "type": "string"
          },
          "sandbox": {
            "type": "boolean",
            "example": false,
            "description": "is document requested from sandbox account ?"
          },
          "buttonid": {
            "type": "string",
            "description": "button id/unique identifier of button used to generate verification link"
          },
          "message": {
            "type": "string",
            "example": "reason for bad document"
          },
          "type": {
            "type": "string",
            "example": "json-failure"
          },
          "category": {
            "type": "string",
            "example": "address",
            "description": "category of document, this can be bank/address/id/professional/other."
          },
          "email": {
            "type": "string"
          }
        }
      },
      "DownloadMhtmlRequest": {
        "type": "object",
        "required": ["apikey", "docid"],
        "properties": {
          "docid": {
            "type": "string",
            "description": "unique id for document submitted",
            "example": "IN-123TXyT"
          },
          "apikey": {
            "type": "string",
            "example": "your-api-key-here"
          }
        }
      },
      "DownloadDocumentRequest": {
        "type": "object",
        "required": ["apikey", "docid", "downloadrequired"],
        "properties": {
          "apikey": {
            "type": "string",
            "example": "your-api-key-here"
          },
          "docid": {
            "type": "string",
            "description": "unique id for document submitted",
            "example": "IN-123TXyT"
          },
          "downloadrequired": {
            "type": "boolean",
            "description": "If you want to required download keep it true.",
            "example": true
          }
        }
      },
      "DownloadMhtmlResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean",
            "example": false
          },
          "msg": {
            "type": "string",
            "example": "Successful"
          },
          "data": {
            "type": "string",
            "example": "base64"
          }
        }
      },
      "DownloadDocumentResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "example": "file downloaded"
          },
          "base64": {
            "type": "string"
          },
          "fileobj": {
            "type": "object"
          }
        }
      },
      "DownloadDocumentMultidownloadResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "example": "Successful"
          },
          "base64": {
            "type": "string"
          },
          "fileobj": {
            "type": "array"
          }
        }
      },
      "ShareOnlyJsonTrue": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "This document is configured with JSON only settings."
          }
        }
      },
      "DocumentNotExist": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "No document exist with specified docid"
          }
        }
      },
      "ApiKeyEmpty": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Api key is invalid."
          }
        }
      },
      "AbandonCaseResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Session document not found."
          },
          "error": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "DocIdWrongOrEmpty": {
        "type": "object",
        "properties": {
          "msg": {
            "type": "string",
            "example": "Session document not found."
          },
          "error": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "Forbidden": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "You are not allowed to see this session!"
          }
        }
      },
      "InvalidToken": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "string",
            "example": "2024-07-01T10:02:27.547+0000"
          },
          "status": {
            "type": "number",
            "example": 401
          },
          "error": {
            "type": "string",
            "example": "Unauthorized"
          },
          "message": {
            "type": "string",
            "example": "Jwt token is expired pls generate new token!"
          },
          "path": {
            "type": "string",
            "example": "/Zuul-1.0/HI-2.0/pdf/pdftojson"
          }
        }
      },
      "InvalidResponse1": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Api key is invalid."
          },
          "error": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "SessionIdDeleted": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Document is deleted"
          },
          "error": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "SessionInfoRequest": {
        "type": "object",
        "required": ["apikey", "sessionid"],
        "properties": {
          "sessionid": {
            "type": "string",
            "example": "IN-123TXyT"
          },
          "apikey": {
            "type": "string",
            "example": "your-api-key-here"
          }
        }
      },
      "SessionInfoResponse": {
        "type": "object",
        "properties": {
          "ssl_certificate": {
            "type": "object",
            "properties": {
              "reach": {
                "type": "null",
                "example": null
              },
              "rank": {
                "type": "null",
                "example": null
              },
              "common_name": {
                "type": "string",
                "example": "www.jio.com"
              }
            }
          },
          "result": {
            "type": "object",
            "required": ["validation"],
            "properties": {
              "updated_on": {
                "type": "string",
                "example": "2024-06-23T10:08:03"
              },
              "orignalsource": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "Date": {
                      "type": "string",
                      "example": "23 Jun 2024"
                    },
                    "Reference": {
                      "type": "string",
                      "example": "US-emspz"
                    },
                    "Website": {
                      "type": "string",
                      "example": "jio.com"
                    },
                    "Language": {
                      "type": "string",
                      "example": "en"
                    },
                    "time": {
                      "type": "string",
                      "example": "10.07 AM"
                    },
                    "Pages": {
                      "type": "string"
                    }
                  }
                }
              },
              "category": {
                "type": "string",
                "example": "address"
              },
              "status": {
                "type": "string",
                "example": "pending"
              }
            }
          },
          "error": {
            "type": "boolean",
            "example": false
          },
          "device": {
            "type": "object",
            "properties": {
              "fingerprint_id": {
                "type": "string",
                "example": "3221601874"
              },
              "location": {
                "type": "string",
                "example": "New Delhi"
              },
              "ip_address": {
                "type": "string",
                "example": "2401:4900:1c63:3890:d967:bcea:bcf8:af41"
              },
              "request_id": {
                "type": "string",
                "example": "US-emspzo"
              },
              "user_agent": {
                "type": "string",
                "example": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/126.0.0.0 Safari/537.36"
              }
            }
          },
          "navLogs": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "summary": {
                  "type": "string",
                  "example": "The webpage titled 'Sample PDF Download' offers downloadable PDF documents, including bank statements and utility bills. Each document is listed with a description and a download link. The page is straightforward, focusing on providing access to sample documents for testing purposes."
                },
                "type": {
                  "type": "string",
                  "example": "clickEvent"
                },
                "click": {
                  "type": "string",
                  "example": "The user clicked on the link labeled 'Bank Statement (Multiple Acc Number)', which is intended to download a PDF file named 'Multiple acc numbers (Bank of Manhattan).docx.pdf'. This action will initiate the download of the specified document to the user's device."
                },
                "url": {
                  "type": "string",
                  "example": "https://sample.diro.me/"
                },
                "timestamp": {
                  "type": "string",
                  "example": "2024-06-23T10:08:03"
                }
              }
            }
          }
        },
        "required": ["device", "result", "ssl_certificate"]
      },
      "AbandonSessionId": {
        "type": "object",
        "properties": {
          "ssl_certificate": {
            "type": "object"
          },
          "result": {
            "type": "object"
          },
          "error": {
            "type": "boolean",
            "example": false
          },
          "navLogs": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "summary": {
                  "type": "string",
                  "example": "The webpage titled 'Sample PDF Download' offers downloadable PDF documents, including bank statements and utility bills. Each document is listed with a description and a download link. The page is straightforward, focusing on providing access to sample documents for testing purposes."
                },
                "type": {
                  "type": "string",
                  "example": "clickEvent"
                },
                "click": {
                  "type": "string",
                  "example": "The user clicked on the link labeled 'Bank Statement (Multiple Acc Number)', which is intended to download a PDF file named 'Multiple acc numbers (Bank of Manhattan).docx.pdf'. This action will initiate the download of the specified document to the user's device."
                },
                "url": {
                  "type": "string",
                  "example": "https://sample.diro.me/"
                },
                "timestamp": {
                  "type": "string",
                  "example": "2024-06-23T10:08:03"
                }
              }
            }
          },
          "device": {
            "type": "object",
            "properties": {
              "location": {
                "type": "string",
                "example": "Dublin"
              },
              "ip_address": {
                "type": "string",
                "example": "54.77.161.125"
              },
              "request_id": {
                "type": "string",
                "example": "IN-EULc7T"
              }
            }
          }
        }
      },
      "SessionBadResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "about:blank"
          },
          "title": {
            "type": "string",
            "example": "Bad Request"
          },
          "status": {
            "type": "number",
            "example": 400
          },
          "detail": {
            "type": "string",
            "example": "Failed to read request"
          },
          "instance": {
            "type": "string",
            "example": "/sessioninfo"
          }
        }
      },
      "SessionNotAllow": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "You are not allowed to see this session."
          }
        }
      },
      "InvalidResponse2": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Api key is invalid."
          },
          "error": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "ServerDown": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Server is down Please try again."
          },
          "error": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "DocIdEmpty": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "session id can't be null or empty"
          }
        }
      },
     

      "RequestPdfToJson": {
        "required": ["docid", "apikey"],
        "type": "object", 
        "properties": {
          "docid": {
            "type": "string",
            "description": "unique id for document submitted",
            "example": "IN-123TXyT"
          },
          "apikey": {
            "type": "string",
            "example": "ls.get(\"apikey\")"
          }
        }
      },
      "DefaultJsonResponse": {
        "type": "object",
        "required": ["message"],
        "description": "Default response when documents not processed.",
        "properties": {
          "message": {
            "type": "string",
            "example": "2024-05-13 11:50:23 : Processing result, please wait it may take upto 24 hrs."
          },
          "status": {
            "type": "string",
            "example": "success"
          },
          "info": {
            "type": "object",
            "properties": {
              "buttonid": {
                "type": "string",
                "example": "IN-123xYx-a"
              },
              "urlStatus": {
                "type": "object",
                "properties": {
                  "urlMatch": {
                    "type": "boolean",
                    "example": true
                  },
                  "country": {
                    "type": "string",
                    "example": "United States of America"
                  },
                  "sslVerified": {
                    "type": "boolean",
                    "example": true
                  },
                  "differentCategory": {
                    "type": "boolean",
                    "example": false
                  },
                  "message": {
                    "type": "string",
                    "example": "Url Verified!"
                  },
                  "category": {
                    "type": "string",
                    "example": "bank"
                  },
                  "urlMatchDetails": {
                    "type": "object",
                    "properties": {
                      "differentCategory": {
                        "type": "boolean",
                        "example": false
                      },
                      "isFound": {
                        "type": "boolean",
                        "example": true
                      },
                      "urlmatch": {
                        "type": "boolean",
                        "example": true
                      }
                    }
                  },
                  "status": {
                    "type": "string",
                    "example": "verified"
                  }
                }
              },
              "category": {
                "type": "string",
                "example": "bank"
              },
              "docid": {
                "type": "string",
                "example": "IN-123xYx-a"
              },
              "url": {
                "type": "string",
                "example": "https://testing99.diro.me/"
              },
              "livefeedback": {
                "type": "array",
                "items": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "period": {
                          "type": "string",
                          "example": "2022/11/01-2022/12/25"
                        },
                        "accountnumber": {
                          "type": "boolean",
                          "example": true
                        },
                        "address": {
                          "type": "boolean",
                          "example": true
                        },
                        "docid": {
                          "type": "string",
                          "example": "US-4BA7Um"
                        },
                        "name": {
                          "type": "boolean",
                          "example": true
                        },
                        "fileOutsidePeriod": {
                          "type": "boolean",
                          "example": true
                        },
                        "document_type": {
                          "type": "string",
                          "example": "Bank"
                        }
                      }
                    }
                  ]
                }
              },
              "urlTree": {
                "type": "array",
                "items": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "urlPath": {
                          "type": "string",
                          "example": "sample.diro.me → Download ✔"
                        },
                        "docid": {
                          "type": "string",
                          "example": "US-4BA7Um"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "CombineJsonResponse": {
        "type": "object",
        "description": "Combine JSON response in case of multi-download.",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "example": "fail/success/partial"
              },
              "continuousperiod": {
                "type": "boolean",
                "example": "false/true"
              },
              "sourcename": {
                "type": "string",
                "example": " Sample Utility"
              },
              "sourcecountry": {
                "type": " string",
                "example": " India"
              },
              "discardeddoc": {
                "type": "array",
                "items": {
                  "anyOf": [
                    {
                      "docid": "object",
                      "properties": {
                        "docid": {
                          "type": "string",
                          "example": "IN-123xYx-a"
                        },
                        "reason": {
                          "type": "string",
                          "example": "Corrupt document"
                        }
                      }
                    },
                    {
                      "docid": "object",
                      "properties": {
                        "docid": {
                          "type": "string",
                          "example": "IN-123xYx-b"
                        },
                        "reason": {
                          "type": "string",
                          "example": "Critical information missing"
                        }
                      }
                    }
                  ]
                }
              },
              "entitytype": {
                "type": " string"
              },
              "referencenumber": {
                "type": " string"
              },
              "mobile": {
                "type": " string"
              },
              "email": {
                "type": " string"
              },
              "accountdetails": {
                "type": "array",
                "items": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string"
                        },
                        "account_number": {
                          "type": "string",
                          "example": "000000803244175"
                        },
                        "account_type": {
                          "type": "string",
                          "example": "Chase Checking"
                        },
                        "name": {
                          "type": "string",
                          "example": "Alex Smith"
                        },
                        "namedetails": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "firstname": {
                                "type": "string",
                                "example": "ALEX"
                              },
                              "lastname": {
                                "type": "string",
                                "example": "SMITH"
                              }
                            }
                          }
                        },
                        "address": {
                          "type": "string",
                          "exmaple": "1020 Courage St, STE 108, Brownsville, TX 78521"
                        },
                        "addressdetails": {
                          "type": "array",
                          "items": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "street": {
                                    "type": "string",
                                    "example": " 1020 Courage St, STE 108"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "city": {
                                    "type": "string",
                                    "example": "Brownsville"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "state": {
                                    "type": "string",
                                    "example": "TX"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "country": {
                                    "type": "string",
                                    "example": "US"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "zipcode": {
                                    "type": "string",
                                    "example": "78521"
                                  }
                                }
                              }
                            ]
                          }
                        },
                        "iban": {
                          "type": "string"
                        },
                        "routingnumber": {
                          "type": "string"
                        },
                        "transaction": {
                          "type": "array",
                          "items": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "date": {
                                    "type": "string"
                                  },
                                  "period": {
                                    "type": "string"
                                  },
                                  "balance": {
                                    "type": "string"
                                  },
                                  "totalcharge": {
                                    "type": "string"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "date": {
                                    "type": "string"
                                  },
                                  "period": {
                                    "type": "string"
                                  },
                                  "balance": {
                                    "type": "string"
                                  },
                                  "totalcharge": {
                                    "type": "string"
                                  }
                                }
                              }
                            ]
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "account_number": {
                          "type": "string",
                          "example": "000000803244177"
                        },
                        "account_type": {
                          "type": "string",
                          "example": "Chase Checking"
                        },
                        "currency": {
                          "type": "string",
                          "example": "USD"
                        },
                        "name": {
                          "type": "string",
                          "example": "Alex Smith"
                        },
                        "namedetails": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "firstname": {
                                "type": "string",
                                "example": "ALEX"
                              },
                              "lastname": {
                                "type": "string",
                                "example": "SMITH"
                              }
                            }
                          }
                        },
                        "address": {
                          "type": "string",
                          "exmaple": "1020 Courage St, STE 108, Brownsville, TX 78521"
                        },
                        "addressdetails": {
                          "type": "array",
                          "items": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "street": {
                                    "type": "string",
                                    "example": " 1020 Courage St, STE 108"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "city": {
                                    "type": "string",
                                    "example": " Brownsville"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "state": {
                                    "type": "string",
                                    "example": " TX"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "country": {
                                    "type": "string",
                                    "example": "US"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "zipcode": {
                                    "type": "string",
                                    "example": "78521"
                                  }
                                }
                              }
                            ]
                          }
                        },
                        "iban": {
                          "type": "string"
                        },
                        "routingnumber": {
                          "type": "string"
                        },
                        "transaction": {
                          "type": "array",
                          "items": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "date": {
                                    "type": "string"
                                  },
                                  "period": {
                                    "type": "string"
                                  },
                                  "balance": {
                                    "type": "string"
                                  },
                                  "totalcharge": {
                                    "type": "string"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "date": {
                                    "type": "string"
                                  },
                                  "period": {
                                    "type": "string"
                                  },
                                  "balance": {
                                    "type": "string"
                                  },
                                  "totalcharge": {
                                    "type": "string"
                                  }
                                }
                              }
                            ]
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "info": {
            "type": "object",
            "properties": {
              "buttonid": {
                "type": "string",
                "example": "IN-123xYx-a"
              },
              "urlStatus": {
                "type": "object",
                "properties": {
                  "urlMatch": {
                    "type": "boolean",
                    "example": true
                  },
                  "country": {
                    "type": "string",
                    "example": "United States of America"
                  },
                  "sslVerified": {
                    "type": "boolean",
                    "example": true
                  },
                  "differentCategory": {
                    "type": "boolean",
                    "example": false
                  },
                  "message": {
                    "type": "string",
                    "example": "Url Verified!"
                  },
                  "category": {
                    "type": "string",
                    "example": "bank"
                  },
                  "urlMatchDetails": {
                    "type": "object",
                    "properties": {
                      "differentCategory": {
                        "type": "boolean",
                        "example": false
                      },
                      "isFound": {
                        "type": "boolean",
                        "example": true
                      },
                      "urlmatch": {
                        "type": "boolean",
                        "example": true
                      }
                    }
                  },
                  "status": {
                    "type": "string",
                    "example": "verified"
                  }
                }
              },
              "category": {
                "type": "string",
                "example": "bank"
              },
              "docid": {
                "type": "string",
                "example": "IN-123xYx-a"
              },
              "url": {
                "type": "string",
                "example": "https://testing99.diro.me/"
              },
              "livefeedback": {
                "type": "array",
                "items": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "period": {
                          "type": "string",
                          "example": "2022/11/01-2022/12/25"
                        },
                        "accountnumber": {
                          "type": "boolean",
                          "example": true
                        },
                        "address": {
                          "type": "boolean",
                          "example": true
                        },
                        "docid": {
                          "type": "string",
                          "example": "US-4BA7Um"
                        },
                        "name": {
                          "type": "boolean",
                          "example": true
                        },
                        "fileOutsidePeriod": {
                          "type": "boolean",
                          "example": true
                        },
                        "document_type": {
                          "type": "string",
                          "example": "Bank"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "period": {
                          "type": "string",
                          "example": "2022/11/01-2022/12/25"
                        },
                        "accountnumber": {
                          "type": "boolean",
                          "example": true
                        },
                        "address": {
                          "type": "boolean",
                          "example": true
                        },
                        "docid": {
                          "type": "string",
                          "example": "US-4BA7Um-d"
                        },
                        "name": {
                          "type": "boolean",
                          "example": true
                        },
                        "fileOutsidePeriod": {
                          "type": "boolean",
                          "example": true
                        },
                        "document_type": {
                          "type": "string",
                          "example": "Bank"
                        }
                      }
                    }
                  ]
                }
              },
              "urlTree": {
                "type": "array",
                "items": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "urlPath": {
                          "type": "string",
                          "example": "sample.diro.me → Download ✔"
                        },
                        "docid": {
                          "type": "string",
                          "example": "US-4BA7Um"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "message": {
            "type": "string",
            "example": "success!"
          }
        }
      },
      "IncompleteSessionJsonResponse": {
        "type": "object",
        "description": "Incomplete session.",
        "properties": {
          "message": {
            "type": "string",
            "example": "JSON not processed, as document not submitted or still in process"
          },
          "status": {
            "type": "string",
            "example": "Incomplete session"
          }
        }
      },
      "DeletedSessionJsonResponse": {
        "type": "object",
        "description": "Deleted session.",
        "properties": {
          "message": {
            "type": "string",
            "example": "JSON not processed, as session is deleted"
          },
          "status": {
            "type": "string",
            "example": "Deleted session"
          }
        }
      },
      "BadDocumentJsonResponse": {
        "type": "object",
        "description": "Bad document",
        "properties": {
          "message": {
            "type": "string",
            "example": "Document marked as bad reason:Critical information missing"
          },
          "status": {
            "type": "string",
            "example": "Bad document"
          },
          "info": {
            "type": "object",
            "properties": {
              "buttonid": {
                "type": "string",
                "example": "IN-123xYx-a"
              },
              "urlStatus": {
                "type": "object",
                "properties": {
                  "urlMatch": {
                    "type": "boolean",
                    "example": true
                  },
                  "country": {
                    "type": "string",
                    "example": "United States of America"
                  },
                  "sslVerified": {
                    "type": "boolean",
                    "example": true
                  },
                  "differentCategory": {
                    "type": "boolean",
                    "example": false
                  },
                  "message": {
                    "type": "string",
                    "example": "Url Verified!"
                  },
                  "category": {
                    "type": "string",
                    "example": "bank"
                  },
                  "urlMatchDetails": {
                    "type": "object",
                    "properties": {
                      "differentCategory": {
                        "type": "boolean",
                        "example": false
                      },
                      "isFound": {
                        "type": "boolean",
                        "example": true
                      },
                      "urlmatch": {
                        "type": "boolean",
                        "example": true
                      }
                    }
                  },
                  "status": {
                    "type": "string",
                    "example": "verified"
                  }
                }
              },
              "category": {
                "type": "string",
                "example": "bank"
              },
              "docid": {
                "type": "string",
                "example": "IN-123xYx-a"
              },
              "url": {
                "type": "string",
                "example": "https://testing99.diro.me/"
              },
              "livefeedback": {
                "type": "array",
                "items": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "period": {
                          "type": "string",
                          "example": "2022/11/01-2022/12/25"
                        },
                        "accountnumber": {
                          "type": "boolean",
                          "example": true
                        },
                        "address": {
                          "type": "boolean",
                          "example": true
                        },
                        "docid": {
                          "type": "string",
                          "example": "US-4BA7Um"
                        },
                        "name": {
                          "type": "boolean",
                          "example": true
                        },
                        "fileOutsidePeriod": {
                          "type": "boolean",
                          "example": true
                        },
                        "document_type": {
                          "type": "string",
                          "example": "Bank"
                        }
                      }
                    }
                  ]
                }
              },
              "urlTree": {
                "type": "array",
                "items": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "urlPath": {
                          "type": "string",
                          "example": "sample.diro.me → Download ✔"
                        },
                        "docid": {
                          "type": "string",
                          "example": "US-4BA7Um"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "SingleDocumentResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "type": "object", 
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "date"
                    },
                    "values": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "type": "object",
                            "properties": {
                              "date": {
                                "type": "string",
                                "example": "date"
                              },
                              "requested": {
                                "type": "string",
                                "example": "date"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "properties": {
                              "period": {
                                "type": "string",
                                "example": "Apr 01 - Apr 30"
                              },
                              "requested": {
                                "type": "string"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "properties": {
                              "startdate": {
                                "type": "string",
                                "example": "Apr 01"
                              },
                              "requested": {
                                "type": "string"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "properties": {
                              "requested": {
                                "type": "string",
                                "example": "date"
                              },
                              "enddate": {
                                "type": "string",
                                "example": "Apr 30"
                              }
                            }
                          }
                        ]
                      }
                    }
                  }
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "name"
                    },
                    "values": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "example": "John Doe"
                          },
                          "namedetails": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "firstname": {
                                  "type": "string",
                                  "example": "John"
                                },
                                "lastname": {
                                  "type": "string",
                                  "example": "Doe"
                                }
                              }
                            }
                          },
                          "requested": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "address"
                    },
                    "values": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "type": "object",
                            "properties": {
                              "requested": {
                                "type": "string",
                                "example": "date"
                              },
                              "address": {
                                "type": "string",
                                "example": "1020 Courage St, STE 108, Brownsville, TX 78521"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "properties": {
                              "street": {
                                "type": "string",
                                "example": "1020 Courage St, STE 108"
                              },
                              "requested": {
                                "type": "string"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "properties": {
                              "city": {
                                "type": "string",
                                "example": "Brownsville"
                              },
                              "requested": {
                                "type": "string"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "properties": {
                              "requested": {
                                "type": "string"
                              },
                              "state": {
                                "type": "string",
                                "example": "TX"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "properties": {
                              "country": {
                                "type": "string",
                                "example": "US"
                              },
                              "requested": {
                                "type": "string"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "properties": {
                              "zipcode": {
                                "type": "string",
                                "example": "78521"
                              },
                              "requested": {
                                "type": "string"
                              }
                            }
                          }
                        ]
                      }
                    }
                  }
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "source"
                    },
                    "values": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "type": "object",
                            "properties": {
                              "sourcename": {
                                "type": "string",
                                "example": "ATT Inc"
                              },
                              "requested": {
                                "type": "string"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "properties": {
                              "requested": {
                                "type": "string",
                                "example": "date"
                              },
                              "sourcecountry": {
                                "type": "string",
                                "example": "United States of America"
                              }
                            }
                          }
                        ]
                      }
                    }
                  }
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "account"
                    },
                    "values": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountnumber": {
                            "type": "string",
                            "example": "667564454"
                          },
                          "requested": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "transaction"
                    },
                    "values": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "totalcharges": {
                            "type": "string",
                            "example": "$81.43"
                          },
                          "requested": {
                            "type": "string",
                            "example": "date"
                          }
                        }
                      }
                    }
                  }
                }
              ]
            }
          },
          "info": {
            "type": "object",
            "properties": {
              "buttonid": {
                "type": "string",
                "example": "IN-123xYx-a"
              },
              "urlStatus": {
                "type": "object",
                "properties": {
                  "urlMatch": {
                    "type": "boolean",
                    "example": true
                  },
                  "country": {
                    "type": "string",
                    "example": "United States of America"
                  },
                  "sslVerified": {
                    "type": "boolean",
                    "example": true
                  },
                  "differentCategory": {
                    "type": "boolean",
                    "example": false
                  },
                  "message": {
                    "type": "string",
                    "example": "Url Verified!"
                  },
                  "category": {
                    "type": "string",
                    "example": "bank"
                  },
                  "urlMatchDetails": {
                    "type": "object",
                    "properties": {
                      "differentCategory": {
                        "type": "boolean",
                        "example": false
                      },
                      "isFound": {
                        "type": "boolean",
                        "example": true
                      },
                      "urlmatch": {
                        "type": "boolean",
                        "example": true
                      }
                    }
                  },
                  "status": {
                    "type": "string",
                    "example": "verified"
                  }
                }
              },
              "category": {
                "type": "string",
                "example": "bank"
              },
              "docid": {
                "type": "string",
                "example": "IN-123xYx-a"
              },
              "url": {
                "type": "string",
                "example": "https://testing99.diro.me/"
              },
              "livefeedback": {
                "type": "array",
                "items": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "period": {
                          "type": "string",
                          "example": "2022/11/01-2022/12/25"
                        },
                        "accountnumber": {
                          "type": "boolean",
                          "example": true
                        },
                        "address": {
                          "type": "boolean",
                          "example": true
                        },
                        "docid": {
                          "type": "string",
                          "example": "US-4BA7Um"
                        },
                        "name": {
                          "type": "boolean",
                          "example": true
                        },
                        "fileOutsidePeriod": {
                          "type": "boolean",
                          "example": true
                        },
                        "document_type": {
                          "type": "string",
                          "example": "Bank"
                        }
                      }
                    }
                  ]
                }
              },
              "urlTree": {
                "type": "array",
                "items": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "urlPath": {
                          "type": "string",
                          "example": "sample.diro.me → Download ✔"
                        },
                        "docid": {
                          "type": "string",
                          "example": "US-4BA7Um"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "message": {
            "type": "string",
            "example": "success!"
          }
        }
      },


      "ResponseForBadRequest1": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Document does not exist."
          }
        }
      },
      "ResponseForSessionIdDelete": {
        "type": "object", 
        "properties": {
          "message": {
            "type": "string",
            "example": "JSON not processed, as session is deleted"
          },
          "status": {
            "type": "string",
            "example": "Deleted session"
          }
        }
      },
      "ApiKeyNullOrEmptyPdftojson": {
        "type": "object",
        "description": "When api key is null or empty.",
        "properties": {
          "msg": {
            "type": "string", 
            "example": "apikey cannot be null."
          },
          "error": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "ApiKeyWrongResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean",
            "example": true
          },
          "status": {
            "type": "string",
            "example": "apikey is wrong."
          }
        }
      },
      "docIdNullOrEmpty": {
        "type": "object",
        "description": "When docid is null or empty",
        "properties": {
          "timestamp": {
            "type": "string",
            "example": "2024-07-01T10:39:36.394+00:00"
          },
          "status": {
            "type": "number",
            "example": 400
          },
          "error": {
            "type": "string",
            "example": "Bad Request"
          },
          "path": {
            "type": "string",
            "example": "/pdf/pdftojson"
          }
        }
      },
      "JSONRequestWrong": {
        "type": "object",
        "description": "when json request is wrong",
        "properties": {
          "timestamp": {
            "type": "string",
            "example": "2024-07-01T10:39:36.394+00:00"
          },
          "status": {
            "type": "number", 
            "example": 400
          },
          "error": {
            "type": "string",
            "example": "Bad Request"
          },
          "path": {
            "type": "string",
            "example": "/pdf/pdftojson"
          }
        }
      },

      
      "SuccessResponsePdftojson": {
        "type": "object",
        "description": "will give pdftojson with success msg",
        "properties": {
          "message": {
            "type": "string",
            "example": "2024-07-01 10:49:00 : Processing result, please wait it may take upto 24 hrs."
          },
          "status": {
            "type": "string",
            "example": "Success!"
          }
        }
      },
      "BadDocument": {
        "type": "object", 
        "description": "when document marked as bad",
        "properties": {
          "message": {
            "type": "string",
            "example": "Document marked as bad reason :reason"
          },
          "status": {
            "type": "string",
            "example": "Bad document"
          }
        }
      },
      "DocidAbandon": {
        "type": "object",
        "description": "when docid is Abandon", 
        "properties": {
          "message": {
            "type": "string",
            "example": "JSON not processed, as document not submitted or still in process"
          },
          "status": {
[...]
