{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI definition",
    "version": "v0"
  },
  "servers": [
    {
      "url": "https://api.dirolabs.com",
      "description": "Generated server url"
    }
    
  ],
  "paths": {
    "${environment.varificationSwaggerLink}/get-verification-link": {
      "post": {
        "tags": ["Capture process"],
        "summary": "To generate a verification link (for advanced features).",
        "description": "<p>Use this API to generate a one-time verification link. It will create a link with a unique session ID without exposing the button ID in the URL. You can configure the link's behavior by modifying the button settings. This API is optional; you can also use a no-code verification link from the button settings for faster integration.\n   <h4 >Note</h4>\n<ul><li>Add at least one warn case.</li><li>For adding the track id:</li>   <ul><li>it should be added inside warn_case  <li>add \"trackid\" inside \"type\" field <li>add field name of trackid inside \"message\" <li> add the custom value for trackid inside \"keyword\"</ul>  \n For example { </br>\"hinttext\": \"\" ,</br>\"keyword\": \"trackid value\" ,\n</br> \"type\": \"trackid\",\n  </br>\"message\": \"key3\" </br>} <h2>Best practice</h2>\n<ul>\n<li>The link should ideally be placed on your website as a verification button.</li><li>A customer tracking ID should be added in the end while triggering it.</li><li>The link should be opened as an Iframe.<ul><li>Add event listener for the message event in the parent window to listen for messages from the <p>\niframe for progress status as 'Opened link', 'Verifying', 'Submitted'</p><ul><li>Example - {sessionid: \"IN-OaBTRQ\", buttonid: \"O.IN-X16BzE-xPg\",progress_status:\"Started\"}</li></ul></li></ul></li></ul></p>\n   <h2>Setup webhooks</h2>\n   <ul>\n   <li>Webhook URL can be configured per organization as default.</li>\n     <li> Please navigate to the left panel > callback logs and update your webhook URL by clicking the settings icon.</li>\n     <li>Please enter and submit your URL to send webhook URL as default for all the different types of verifications in the organization.</li>\n     <li>Please note: The webhook URL can also be set up per button under button settings as an override.</li>\n     <li>Please go to verification buttons on the left vertical bar and then click on settings icon of the respective button to access settings then go to \"After Verification\" section then update value against label \"Override default callback url\".</li>\n     <li>Webhooks are triggered once a verification session begins or completes.</li>\n     </ul>\n     <ol class=\"list-group list-group-numbered\">\n    <li> \"Pending\" - When the capture process is completed and the file is submitted.</li>\n     <li> \"Verified\" - The document is verified and approved.</li>\n     <li> \"Rejected\" - The document is rejected.</li>\n   </ol>\n   <h2>Instant Window.postMessage() </h2>\n <p>The window.postMessage() method is used in JavaScript to enable cross-origin communication between window objects. It is a security feature that allows you to safely enable cross-origin communication between different windows or iframes.</p><p>// Sending a message from one window/iframe</p><p><b> var message = { sessionid:\"IN-TEST12\",buttonid: \"test.button\",progress_status: \"Submitted\",sender: \"capture\"};</b></p> <p><b>window.top.postMessage(message, \"*\");</b> </p> <p>progress_status where user reached during verification process. The values will be #Started, #Selected source link, #Opened link, #Saw preview, #Tried to find info / Tried help, #Cancelled preview, #Tried download, #Verifying, #Submitted .</p> <p>// Receiving the message in another window/iframe</p> <p><b>window.addEventListener(\"message\", event => {if (event.data.sessionid) { }}</b></p><p>In this example, the parent window sends a message to the iframe, and the iframe listens for messages using the `window.addEventListener` method. The `event.origin` property is used to ensure that the message is coming from an expected source to prevent unauthorized communication.</p> <p>Its important to note that while `postMessage` is a powerful tool for communication between windows and frames, it should be used carefully and with security considerations in mind, as improper usage can introduce vulnerabilities in your web application.</p>\n",
        "operationId": "getverificationlink",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetVerificationLinkRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationUrlLink"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/ApiKeyNullorEmpty" },
                    { "$ref": "#/components/schemas/ButtonIdEmpty" },
                    { "$ref": "#/components/schemas/JsonRequestWrong" }
                  ]
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyWrong"
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ButtonIdWrong"
                }
              }
            }
          }
        },
        "callbacks": {
          "Engagement status": {
            "": {
              "post": {
                "description": "Request Input for Callback",
                "operationId": "callback1",
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/RequestEngagementCallback"
                      }
                    }
                  },
                  "required": true
                },
                "responses": {}
              }
            }
          },
          "Upload success": {
            "": {
              "post": {
                "description": "Request Input for Callback",
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/RequestDocumentUploadCallback"
                      }
                    }
                  },
                  "required": true
                },
                "responses": {}
              }
            }
          },
          "Upload reject": {
            "": {
              "post": {
                "description": "Request Input for Callback",
                "operationId": "Upload reject",
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/uploadRejectCallback"
                      }
                    }
                  },
                  "required": true
                },
                "responses": {}
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      
      "GetVerificationLinkRequest": {
        "type": "object",
        "required": ["buttonid", "apikey", "warn_case"],
        "properties": {
          "buttonid": {
            "type": "string", 
            "format": "string",
            "description": "button id/unique identifier of button used to generate verification link",
            "example": ""
          },
          "user_info": {
            "type": "object",
            "$ref": "#/components/schemas/UserInfo"
          },
          "warn_case": {
            "type": "object",
            "required": ["keyword", "message"],
            "properties": {
              "hinttext": {
                "type": "string",
                "format": "string", 
                "description": "placeholder for the verification field input box at Request doc"
              },
              "proceed": {
                "type": "boolean",
                "description": "move to next step if verification field not present"
              },
              "present": {
                "type": "boolean",
                "description": "check if the verification field is required to be present"
              },
              "keyword": {
                "type": "string",
                "format": "string",
                "description": "field that needs to be verified, can be an empty string"
              },
              "type": {
                "type": "string",
                "format": "string",
                "description": "data type for keyword"
              },
              "message": {
                "type": "string",
                "format": "string",
                "description": "displayed during capture process incase keyword is empty"
              },
              "hovertext": {
                "type": "string",
                "format": "string",
                "description": "used to display instruction or guide when hovered on keywords"
              }
            }
          },
          "apikey": {
            "type": "string",
            "format": "string"
          }
        },
        "xml": {
          "name": "GetVerificationLinkRequest"
        }
      },

      "UserInfo": {
        "required": ["email"],
        "type": "object",
        "properties": {
          "firstname": {
            "type": "string"
          },
          "lastname": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "example": "user@example.com"
          },
          "mobile": {
            "type": "string",
            "example": ""
          },
          "mcc": {
            "type": "string"
          },
          "dob": {
            "type": "string"
          },
          "zipcode": {
            "type": "string"
          }
        }
      },
      "VerificationUrlLink": {
        "type": "object",
        "description": "will give verification url link with success msg and false error",
        "properties": {
          "msg": {
            "type": "string",
            "example": "success"
          },
          "error": {
            "type": "boolean", 
            "example": false
          },
          "verificationlink": {
            "type": "string",
            "example": "https://session.diro.io/server/#/client/MQBnAG15c3Fs/bank/US-qU82ia/US-qU82ia"
          }
        }
      },
      "ApiKeyNullorEmpty": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Api key cannot be null or empty"
          }
        }
      },
      "ButtonIdEmpty": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Button id cannot be null or empty"
          }
        }
      },
      "JsonRequestWrong": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "JSON parse error: Unexpected end-of-input: expected close marker for Object"
          }
        }
      },
      "ApiKeyWrong": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Api key is not valid"
          }
        }
      },
      "ButtonIdWrong": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Button with id not found"
          }
        }
      },
      "RequestEngagementCallback": {
        "type": "object",
        "properties": {
          "sessionid": {
            "type": "string",
            "description": "Session ID for the verification"
          },
          "status": {
            "type": "string",
            "enum": ["Started", "In Progress"],
            "description": "Status of the engagement"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of the event"
          }
        }
      },
      "RequestDocumentUploadCallback": {
        "type": "object",
        "properties": {
          "sessionid": {
            "type": "string",
            "description": "Session ID for the verification"
          },
          "status": {
            "type": "string",
            "enum": ["Pending", "Verified"],
            "description": "Status of the document upload"
          },
          "document": {
            "type": "object",
            "description": "Document information"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of the event"
          }
        }
      },
      "uploadRejectCallback": {
        "type": "object",
        "properties": {
          "sessionid": {
            "type": "string",
            "description": "Session ID for the verification"
          },
          "status": {
            "type": "string",
            "enum": ["Rejected"],
            "description": "Status of the document upload"
          },
          "reason": {
            "type": "string",
            "description": "Reason for rejection"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of the event"
          }
        }
      }
    }
  }
}
