{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI definition",
    "version": "v0"
  },
  "servers": [
    {
      "url": "https://api.dirolabs.com",
      "description": "Generated server url"
    }
  ],
  "paths": {
    "${environment.varificationSwaggerLink}/smartFeedback": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": ["Smart upload"],
        "parameters": [
          {
            "in": "",
            "name": "Note",
            "description": "1.buttonid must be of type \"upload method\".\n              2.The keys in warn_cases must correspond to the field labels present in the verification fields.<br>3.If warn_cases contains the same keys with identical values for buttonid, and the document is not deposited successfully (SmartUpload API), the same session ID will be generated, leading to the PDF being overwritten for that session.</b>"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Requestfeedback"
              }
            }
          }
        },
        "summary": "To get feedback for the smart uploaded document (step 1).",
        "description": "<h1>Get feedback for an uploaded document</h1>This API is used to check for the presence of critical fields like name, account number, and address, and to validate the category as selected in the button settings. It then creates a docid to be consumed by the Smart Upload API.",
        "operationId": "get smart feedback",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/FeedbackResponse" },
                    { "$ref": "#/components/schemas/FeedbackResponse1" }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/Feedback_Response1" },
                    { "$ref": "#/components/schemas/Feedback_Response2" },
                    { "$ref": "#/components/schemas/ButtonType_Response3" },
                    { "$ref": "#/components/schemas/Feedback_Response4" },
                    { "$ref": "#/components/schemas/Feedback_Response5" },
                    { "$ref": "#/components/schemas/Feedback_Response6" }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/MissingAPIKeyResponse" },
                    { "$ref": "#/components/schemas/APIKeyInvalid_Response" }
                  ]
                }
              }
            }
          },
          "413": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayloadToo_Large"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/InternalServerError_Response" },
                    { "$ref": "#/components/schemas/InternalServerError_Response1" }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "${environment.varificationSwaggerLink}/smartUpload": {
      "post": {
        "tags": ["Smart upload"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "To deposit a document for smart upload (step 2).",
        "description": "<h1>Deposit a document for verification in the case of the upload method</h1> <br> This API is used to upload a document for further verification using the docid generated from the Smart Feedback API.",
        "operationId": "smartUpload",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "",
            "name": "Note",
            "description": "1.Consume the docid generated from the SmartUpload API.<br>2.docid must be of type \"upload method\".</b>"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestSmartUpload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/UploadedDocumentResponse" },
                    { "$ref": "#/components/schemas/UploadedDocumentResponse1" }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/InvalidSessionIdResponse" },
                    { "$ref": "#/components/schemas/InvalidSessionIdResponse1" },
                    { "$ref": "#/components/schemas/ButtonType_Response3" }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/MissingAPIKeyResponse" },
                    { "$ref": "#/components/schemas/APIKeyInvalid_Response" },
                    { "$ref": "#/components/schemas/InvalidToken" }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError_Response"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "Requestfeedback": {
        "type": "object",
        "required": ["buttonid", "pdffile"],
        "properties": {
          "buttonid": {
            "type": "object",
            "description": "button id/unique identifier of button used to generate verification link"
          },
          "pdffile": {
            "type": "file", 
            "format": "binary",
            "description": "The PDF file to upload"
          },
          "warn_cases": {
            "type": "object",
            "description": "Object containing warning cases and track ID.",
            "properties": {
              "trackid1": {
                "type": "string",
                "example": ""
              },
              "trackid2": {
                "type": "string",
                "example": ""
              }
            }
          }
        }
      },
      "FeedbackResponse": {
        "type": "object",
        "properties": {
          "document_type": {
            "type": "string",
            "example": "Bank"
          },
          "name": {
            "type": "boolean",
            "example": true
          },
          "address": {
            "type": "boolean",
            "example": true
          },
          "accountnumber": {
            "type": "boolean",
            "example": true
          },
          "period": {
            "type": "string",
            "example": "2022/11/01-2022/12/25"
          },
          "docid": {
            "type": "string",
            "example": "IN-123TXyT"
          }
        }
      },
      "FeedbackResponse1": {
        "type": "object",
        "properties": {
          "document_type": {
            "type": "string",
            "example": "Invalid"
          },
          "docid": {
            "type": "string", 
            "example": "IN-RZAPO2"
          }
        }
      },
      "Feedback_Response1": {
        "type": "object",
        "properties": {
          "msg": {
            "type": "string",
            "example": "File not found"
          },
          "error": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "Feedback_Response2": {
        "type": "object",
        "properties": {
          "msg": {
            "type": "string",
            "example": "Button ID is required"
          },
          "error": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "ButtonType_Response3": {
        "type": "object",
        "properties": {
          "msg": {
            "type": "string",
            "example": "Button type must be upload method"
          },
          "error": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "Feedback_Response4": {
        "type": "object",
        "properties": {
          "msg": {
            "type": "string",
            "example": "Invalid file format"
          },
          "error": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "Feedback_Response5": {
        "type": "object",
        "properties": {
          "msg": {
            "type": "string",
            "example": "File is password protected"
          },
          "error": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "Feedback_Response6": {
        "type": "object",
        "properties": {
          "msg": {
            "type": "string",
            "example": "File is corrupted"
          },
          "error": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "MissingAPIKeyResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string", 
            "example": "Missing API key in headers!"
          }
        }
      },
      "APIKeyInvalid_Response": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "API key is not valid!"
          }
        }
      },
      "PayloadToo_Large": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "File size should not exceed 50MB!"
          }
        }
      },
      "InternalServerError_Response": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean", 
            "example": true
          },
          "message": {
            "type": "string",
            "example": "An internal server error occurred."
          }
        }
      },
      "InternalServerError_Response1": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Something went wrong, please try again."
          }
        }
      },
      "RequestSmartUpload": {
        "type": "object",
        "required": ["docid"],
        "properties": {
          "docid": {
            "type": "string", 
            "example": "IN-123TXyT",
            "description": "unique id for document submitted"
          }
        }
      },

      "UploadedDocumentResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Document Uploaded Successfully."
          },
          "error": {
            "type": "boolean",
            "example": false
          }
        }
      },
      "UploadedDocumentResponse1": {
        "type": "object", 
        "properties": {
          "message": {
            "type": "string",
            "example": "File already uploaded for this session."
          },
          "error": {
            "type": "boolean",
            "example": false
          }
        }
      },
     
      "InvalidToken": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "string",
            "example": "2024-07-01T10:02:27.547+0000"
          },
          "status": {
            "type": "number", 
            "example": 401
          },
          "error": {
            "type": "string",
            "example": "Unauthorized"
          },
          "message": {
            "type": "string",
            "example": "Jwt token is expired pls generate new token!"
          },
          "path": {
            "type": "string",
            "example": "/Zuul-1.0/HI-2.0/pdf/pdftojson"
          }
        }
      },
      "InvalidSessionIdResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Document does not exist!"
          },
          "error": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "InvalidSessionIdResponse1": {
        "type": "object", 
        "properties": {
          "message": {
            "type": "string",
            "example": "docid is required!"
          },
          "error": {
            "type": "boolean",
            "example": true
          }
        }
      }

    }
  }
}
